<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100&icon_names=favorite,home,search,settings" rel="stylesheet" />
</head>
<body>
    <!-- Los fragments son componentes que usaremos para incluir en cada pagina y evitar escribir codigo repetitivo -->
    <!-- Header fragment-->
        <header class="header" th:fragment="header">
            <div class="header-content">
                <div class="logo-section">
                    <div class="logo-icon">🔒</div>
                    <div class="logo-text">
                        <h1>Escape Room</h1>
                    </div>
                </div>
                <a id="btnLogin"
                    sec:authorize="!isAuthenticated()"
                    th:href="@{/auth/login}">
                    <button class="btn btn-danger btn-logout">Inicio sesión</button>
                </a>
                <form class="formButtons" action="/logout" method="post" sec:authorize="isAuthenticated()">
                    <span class="user-name">Bienvenido, <strong th:text="${user}">Usuario</strong>
                    </span>
                    <a href="#">
                        <span class="btn btn-logout">Mi perfil</span>
                    </a>
                    <div class="user-menu">
                        <button type="submit" class="btn btn-danger  btn-logout">  <i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
                    </div>
                </form>
            </div>
        </header>

    <!-- Footer fragment -->

    <footer class="bg-black text-white" th:fragment="footer">
        <div class="container px-4">
            <div class="row">
                <div class="col-6 col-lg-4">
                    <h3  class="pt-3 fw-bold">EscapeRoom</h3>
                    <p>Carrera inventada # quiensabe-quizás</p>
                    <p>+573028283845</p>
                    <p>+573000000001</p>
                </div>
                <div class="col ">
                    <h4 class="pt-3 fw-bold">Menú</h4>

                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                    </ul>
                    
                </div>
                <div class="col">
                    <h4 class="pt-3 fw-bold">Sedes</h4>
                    <ul>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                    </ul> 
                </div> 
                <div class="col"> 
                    <h4 class="pt-3 fw-bold">Horarios</h4> 
                    <ul>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                        <li><a href="#" class="text-decoration-none text-white">Link</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 text-lg-end">
                    <h4 class="pt-3 fw-bold">Redes Sociales</h4>
                    <!-- Iconos redes sociales -->
                     <div>
                        <a href="#" class="text-decoration-none text-white"><i class="bi bi-instagram fs-2 me-3"></i></a>
                        <a href="#" class="text-decoration-none text-white"><i class="bi bi-facebook fs-2 me-3"></i></a>
                        <a href="#" class="text-decoration-none text-white"><i class="bi bi-twitter fs-2 me-3"></i></a>
                        <a href="#" class="text-decoration-none text-white"><i class="bi bi-linkedin fs-2"></i></a>
                     </div>
                </div>
            </div>
        </div>
    </footer>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>